<!DOCTYPE html>


<html>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript">

        var cars = [
 { "make":"Porsche", "model":"911S" },
 { "make":"Mercedes-Benz", "model":"220SE" },
 { "make":"Jaguar","model": "Mark VII" }
];

        var htmlData =
        {
            "gameMode": "singlePlayer",

            "roomNumber": "8"
        }

        function onGameStartSuccess(responseData)
        {
            console.log("Data recieved from server: "+responseData);
        };

        function startGame()
        {
            console.log("Data sent to server: "+JSON.stringify(htmlData));

            $.ajax
            (
                {
                    type : 'POST',
                    url: 'gameManager',
                    headers:
                    {
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(htmlData),
                    success: function(data)
                    {
                        onGameStartSuccess(data);
                    }
                }
            );
        };



    </script>

    <script>

    function changeColor(myObj, color)
    {
        myObj.style.color = color;
        document.getElementById('0 x 9').style.color = 'pink';
    }

    </script>



    <head>
        <title>Kasia tutaj jest</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/main.css" type="text/css">
    </head>


    <body>


        <section>

            <section class="title_left">
                <h1>Twoja Plansza</h1>
            </section>

            <section class="section_left">
                <table border = "2pt" id="board_one" align="center">
                    {% for i in range (0,15) %}
                        <tr>
                        {% for j in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'] %}
                            {% set x = [ (j)|string, (i)|string ] | join("") %}
                            <td height="32" width="32" align="center" id="{{x}}" onmouseover="changeColor(this, 'red' )" onmouseleave="changeColor(this, 'blue')">{{j}}{{i}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </section>

            <section class="section_left">
                <h1>Hello, {{user['username']}} !</h1>
                <h2>Twoje statki</h2>
                <button type="button" id="button_one" class="button" onclick="startGame()"><h3>Click Me!</h3></button>
             </section>

        </section>



        <section>

            <section class="title_right">
                <h1>Plansza Przeciwnika</h1>
            </section>

            <section class="section_right">
                <table border = "2pt" id="board_two" align="center">
                    {% for k in range (0,15) %}
                        <tr>
                        {% for j in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'] %}
                            {% set x = [ (j)|string, (k)|string ] | join("") %}
                            <td height="32" width="32" align="center" id="{{k}}" onmouseover="changeColor(this, 'red' )" onmouseleave="changeColor(this, 'blue')">{{j}}{{k}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </section>

            <section class="section_right">
                <h1>Hello, {{user['username']}} !</h1>
                <h2>Statki przeciwnika</h2>
                <button type="button" id="button_two" class="button" onclick="startGame()"><h3>Click Me!</h3></button>
            </section>

        </section>




    </body>

    <footer>
            <h2>autor: Katarzyna Okońska, 2018</h2>
    </footer>
</html>