<!DOCTYPE html>


<html>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript">
        var boardLetters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O']
        var currentShipSize = 0;
        var currentShipRotation = 0; // 0 = - and 1 = |
        var currentShipCanBePlaced = false;
        var placedShips = []; // empty array


        var htmlData =
        {
            "gameMode": "singlePlayer",

            "roomNumber": "8"
        }

        function onGameStartSuccess(responseData)
        {
            console.log("Data recieved from server: "+responseData);
        };

        function startGame()
        {
            console.log("Data sent to server: "+JSON.stringify(htmlData));

            $.ajax
            (
                {
                    type : 'POST',
                    url: 'gameManager',
                    headers:
                    {
                        "Content-Type":"application/json"
                    },
                    data: JSON.stringify(htmlData),
                    success: function(data)
                    {
                        onGameStartSuccess(data);
                    }
                }
            );
        };

        function changeColor(myObj, color)
        {
            myObj.style.color = color;
            document.getElementById('0 x 9').style.color = 'pink';
        }

        function clearTilesSelection()
        {
            for (y = 0; y < 15; y++)
            {
                for (x= 0; x < 15; x++)
                {
                    $("#room").find("#playerSection").find("#board").find("#"+boardLetters[x]+y).css('background-color', 'white');
                }
            }
        }

        function redrawPlacedShips()
        {
            placedShips.forEach(highlightPlacedShip)
        }

        function highlightPlacedShip(item, index)
        {
            if (parseInt(item["rotation"])==0)
            {
                for (i = 0; i < currentShipSize; i++)
                {
                    $("#room").find("#playerSection").find("#board").find("#"+boardLetters[parseInt(item["posX"])+parseInt(i)]+item["posY"]).css('background-color','green');
                }
            }
            else
            {
                for (i = 0; i < currentShipSize; i++)
                {
                    $("#room").find("#playerSection").find("#board").find("#"+boardLetters[parseInt(item["posX"])]+(parseInt(item["posY"])+i)).css('background-color','green');
                }
            }
        }

        function setCurrentShipSize(size)
        {
            currentShipSize = size;
        }



        function placeCurrentShip(x, y)
        {
            if (currentShipCanBePlaced)
            {
                placedShips.push({ posX: x, posY: y, size: currentShipSize, rotation: currentShipRotation });
                currentShipSize = 0;
                currentShipCanBePlaced = false;
            }
        }

        function tryPlaceCurrentShip(x,y)
        {
            if (currentShipSize <= 0)
            {
                return;
            }

            clearTilesSelection();
            redrawPlacedShips();
            //console.log("Coords: "+ boardLetters[x] +"  "+y);
            //console.log("x+currentShipSize: "+ (x+currentShipSize));
            //console.log("(15-x): "+   (15-x));
            //console.log("y+currentShipSize: "+ (y+currentShipSize));
            //console.log("(15-y): "+   (15-y));

            if (currentShipRotation==0)
            {
                if(parseInt(x) + currentShipSize < 15)
                {
                    for (i = 0; i < currentShipSize; i++)
                    {
                        $("#room").find("#playerSection").find("#board").find("#"+boardLetters[parseInt(x)+parseInt(i)]+y).css('background-color','green');
                    }
                    currentShipCanBePlaced = true;
                }
                else
                {
                    for (i = 0; i < (15-x); i++)
                    {
                        $("#room").find("#playerSection").find("#board").find("#"+boardLetters[parseInt(x)+parseInt(i)]+y).css('background-color','red');
                    }
                    currentShipCanBePlaced = false;
                }
            }
            else
            {
                if(parseInt(y) + currentShipSize < 15)
                {
                    for (i = 0; i < currentShipSize; i++)
                    {
                        $("#room").find("#playerSection").find("#board").find("#"+boardLetters[parseInt(x)]+(parseInt(y)+i)).css('background-color','green');
                    }
                    currentShipCanBePlaced = true;
                }
                else
                {
                    for (i = 0; i < (15-y); i++)
                    {
                        $("#room").find("#playerSection").find("#board").find("#"+boardLetters[parseInt(x)]+(parseInt(y)+i)).css('background-color','red');
                    }
                    currentShipCanBePlaced = false;
                }
            }
        }
    </script>

    <head>
        <title>Kasia tutaj jest</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/main.css" type="text/css">
    </head>


    <body>

    <header>
        <h1 id="roomNumber">Witaj, jesteś w pokoju nr {{roomData['roomNumber']}} !</h1>
    </header>

    <section id="room">
        <section class="sectionLeft" id="playerSection">
            <section>
                <h1 id="userName">Hello, {{user['name']}} !</h1>
                <h2>Twoje statki</h2>
                <button type="button" id="button_one" class="button" onclick="startGame()"><h3>Click Me!</h3></button>
            </section>
            <section >
                <section class="title">
                    <h1>Twoja Plansza</h1>
                </section>
                <section class="boardArea">
                    <section class = "unusedShips">
                        <button id="placeShip" onclick="setCurrentShipSize(4)">
                            <h2>Wstaw 4</h2>
                        </button>
                    </section>

                    <section class = "boardUser">
                        <table border = "2pt" id="board" align="center">
                            {% set letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'] %}
                            {% for k in range (0,15) %}
                            <tr>
                                {% for j in range (0,15) %}
                                {% set coordinates = [ (letters[j])|string, (k)|string ] | join("") %}
                                <td height="32" width="32" align="center" id="{{coordinates}}" onmouseover="tryPlaceCurrentShip('{{j}}','{{k}}')" onmousedown="placeCurrentShip('{{j}}','{{k}}')">{{letters[j]}}{{k}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </section>

                    <section class = "usedShips">
                        <button id="placeShip" onclick="setCurrentShipSize(4)">
                            <h2>Wstaw 4</h2>
                        </button>
                    </section>

                </section>
            </section>

        </section>




        <section class="sectionRight" id="opponentSection">
            <section>
                <h1 id="opponentName">Hello, {{opponent['name']}} !</h1>
                <h2>Statki przeciwnika</h2>
                <button type="button" id="button_two" class="button" onclick="startGame()"><h3>Click Me!</h3></button>
            </section>
            <section class="title">
                <h1>Plansza Przeciwnika</h1>
            </section>

            <section class="boardArea">
                <section class = "unshotShips">
                    <h2>Wstaw 4</h2>
                </section>

                <section>
                    <section class = "boardOpponent">
                        <table border = "2pt" id="board" align="center">
                                {% for k in range (0,15) %}
                                <tr>
                                    {% for j in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'] %}
                                    {% set coordinates = [ (j)|string, (k)|string ] | join("") %}
                                    <td height="32" width="32" align="center" id="{{coordinates}}" onmouseover="changeColor(this, 'red' )" onmouseleave="changeColor(this, 'blue')">{{j}}{{k}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                    </section>
                </section>

                <section class = "shotShips">
                            <h2>Wstaw 4</h2>
                </section>
            </section>

        </section>
    </section>

    </body>

    <footer>
        <h2>autor: Katarzyna Okońska, 2018</h2>
    </footer>
</html>